# Production
export EMASS_USER_UID_PRODUCTION="123456789"
export EMASS_API_KEY_PRODUCTION="aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeee" 
           
# Pilot
export EMASS_USER_UID_PILOT="123456789"
export EMASS_API_KEY_PILOT="aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeee" 

# The following environment variables are ONLY used for the "sanity-check.sh" script. They are not needed for EMU to work.
export EMASS_API_URL="https://connect.emass.apps.mil"
export NPE_CERTIFICATE_FILEPATH="npe.cer"
export NPE_KEY_FILEPATH="npe.key"
export EMASS_USER_UID="123456789"
export EMASS_API_KEY="aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeee"
export EMASS_SYSTEM_ID="1337"
