
# Test Results

## Upload a Test Result
```bash
emu upload test-results \
  -compliance-status Compliant \
  -assessment-procedure "AC-1.1" \
  -description "Testing" \
  -tested-by "Fernandez, Victor" \
  -test-date "2024-08-22 15:06:06"
```
